.animation {
  position: relative;
  max-height: 0;
  transition: max-height 0.4s ease-out;
}

.animation__eye {
  position: absolute;
  width: 6px;
  height: 5px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAFCAMAAABRhm3UAAABS2lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMxMzggNzkuMTU5ODI0LCAyMDE2LzA5LzE0LTAxOjA5OjAxICAgICAgICAiPgogPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIi8+CiA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgo8P3hwYWNrZXQgZW5kPSJyIj8+IEmuOgAAAARnQU1BAACxjwv8YQUAAAABc1JHQgCuzhzpAAAAWlBMVEVXPj7///+AcnTT0NEAAACsoKDAvbsvHBxURET07OrBqanRu7v/8/PY1tF+d3eAdXP///48ICMpDxGjl5qsnJ9fRkuVfoR0amsoCAloWlv/8/cSAwJPNzYvDQ+Jfrj5AAAAEXRSTlPTOabUAKr57u4o7qllyu7uH083BUMAAAArSURBVAjXY2Bk5uPnFWBgE5aUluFhEJcSE5LlZmASERWU4GJgYeVgZ+AEAB/DAbQTOxBnAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  z-index: 1;
  //display: none;
  //opacity: 0;
}

.animation__eye--one-one {
  left: 58px;
  top: 107px;
}

.animation__eye--one-two {
  left: 104px;
  top: 108px;
}

.animation__eye--two-one {
  left: 250px;
  top: 164px;
}

.animation__eye--two-two {
  left: 296px;
  top: 164px;
}

.animation__video {
  //display: none;
  //opacity: 0;
}
