<div class="signin-content">
  <mat-card>



    <mat-card-header>
      <mat-card-title>Логин</mat-card-title>
      <mat-card-subtitle>Введите e-mail и пароль</mat-card-subtitle>
    </mat-card-header>

<!--    <img mat-card-image src="https://source.unsplash.com/random/800x600">-->

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width-input">
          <input matInput
                 [ngClass]="{ 'is-invalid': controls.email.dirty && controls.email.errors }"
                 formControlName="email"
                 placeholder="E-mail">
          <mat-error *ngIf="controls.email.errors && controls.email.dirty">
            <div *ngIf="controls.email.errors.required">Обязательное поле</div>
            <div *ngIf="controls.email.errors.email">Некорректный email</div>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput
                 [type]="show ? 'text' : 'password'"
                 [ngClass]="{ 'is-invalid': controls.password.dirty && controls.password.errors }"
                 formControlName="password"
                 placeholder="Пароль">
          <button mat-button matSuffix mat-icon-button (click)="toggleShow()">
            <i [className]="show ? 'far fa-eye-slash' : 'far fa-eye'"></i>
          </button>
          <mat-error *ngIf="controls.password.errors && controls.password.dirty">
            <div *ngIf="controls.password.errors.required">Обязательное поле</div>
            <div *ngIf="controls.password.errors.password">Некорректный пароль</div>
          </mat-error>
        </mat-form-field>

        <button mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!loginForm.valid">Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
