<div class="container">

  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>

          <form class="form-signin"
                [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="email">Email address</label>
              <input class="form-control"
                     id="email"
                     [ngClass]="{ 'is-invalid': controls.email.dirty && controls.email.errors }"
                     formControlName="email"
                     placeholder="Email address">
              <div class="invalid-feedback" *ngIf="controls.email.errors && controls.email.dirty">
                <div *ngIf="controls.email.errors.required">Обязательное поле</div>
                <div *ngIf="controls.email.errors.email">Некорректный email</div>
              </div>
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input class="form-control"
                     id="password"
                     type="password"
                     [ngClass]="{ 'is-invalid': controls.password.dirty && controls.password.errors }"
                     formControlName="password"
                     placeholder="Password">
              <div class="invalid-feedback" *ngIf="controls.password.errors && controls.password.dirty">
                <div *ngIf="controls.password.errors.required">Обязательное поле</div>
                <div *ngIf="controls.password.errors.password">Некорректный пароль</div>
              </div>
            </div>

            <!--            <div class="custom-control custom-checkbox mb-3">-->
            <!--              <input type="checkbox" class="custom-control-input" id="customCheck1">-->
            <!--              <label class="custom-control-label" for="customCheck1">Remember password</label>-->
            <!--            </div>-->

            <div class="form-group">
              <button class="btn btn-lg btn-primary btn-block text-uppercase"
                      [disabled]="!loginForm.valid">Sign in
              </button>
            </div>

          </form>
        </div>
      </div>


    </div>
  </div>

</div>
